/*dont think auto applies to width on line 7*/
/*need to remove the comma from lines 13 and 35*/

body {
  font-family: Georgia, serif;
  background: #ffffff;
  width: 80em auto;
}

h1 {
  font-size: 3em;
  border-bottom: 2px solid #000000;
  padding: 0, 10px;
  width: auto;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 20px;
  margin-top: 10px;
  width: auto;
  font-style: italic;
}

h3 {
  font-size: 1.5em;
}

.project {
  margin: 2em auto;;
}

li {
  display: inline-block;;
  margin: 0, 10px;
}

a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  text-decoration: underline;
  color: #000000;
}

a:visited {
	text-decoration: none;
	color: #000000;
}

img {
  float: right;
  border: 2px solid #000000;
  margin: 0 1em;
}

footer {
  border-top: 1px solid #000000;
  width: auto;
  text-align: center;
}

#footer1 {
  float: left;
}

#footer3 {
  float: right;
  padding-right: 10px;
}
